<!DOCTYPE html>
<html>
  <%- include('partials/head') %>
  <body>
    <%- include('partials/header') %>

    <main>
      <h2>Welcome CSE MOTORS</h2>
      <%- include('partials/navigartion') %>
      <section class="imagen-central">
        <img src="images/vehicles/adventador.jpg" alt="Imagen central" />
      </section>

      <section class="imagenes">
        <article class="columna">
          <img src="images/upgrades/flux-cap.png" alt="Imagen central" />
          <h2>Flux capacitor</h2>
          <p>Texto descriptivo de la imagen 1</p>
        </article>
        <article>
          <img src="images/upgrades/flame.jpg" alt="Imagen central" />
          <h2>Flame Decails</h2>
          <p>Texto descriptivo de la imagen 1</p>
        </article>
        <article class="columna">
          <img src="images/upgrades/hub-cap.jpg" alt="Imagen central" />
          <h2>Hub cap</h2>
          <p>Texto descriptivo de la imagen 1</p>
        </article>
        <article>
          <img src="images/upgrades/bumper_sticker.jpg" alt="Imagen central" />
          <h2>Bumper sticker</h2>
          <p>Texto descriptivo de la imagen 1</p>
        </article>
      </section>
    </main>

    <%- include('partials/footer') %>
  </body>
</html>

