/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Share Tech Mono", sans-serif;
  margin: 0;
}

h1, h2 {
  font-size: 1.2em;
}
#wrapper {
  width: 100%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1em;
}

section {
  margin-bottom: 2em;
  margin-top: 1em;
}

section h2, h1 {
  margin-left: 0.25em;
}

/*
Header styles
*/
#top-header {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
 
header a {
  align-self: center;
  text-decoration: none;
  color: #3a3a3a;
}

.siteName {
  margin-left: 10px;
  font-size: 2em;
}

#tools {
  font-size: 1.2em;
  margin-right: 10px;
}
/*
Nav styles
*/
nav {
  background-color: #3a3a3a;
}

nav {
  display: flex;
  justify-content: center;
}

nav ul {
  list-style: none;
  padding: 1%;
  margin: 0;
  display: flex;
}

nav a {
  display: flex;
  align-items: center;
  height: 100%;
  color: white;

}

nav ul li {
  margin-right: 15px;
  color: white;
  text-decoration: none;
  font-size: 0.6em;
}


nav a {
 
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0.5em 1em; 
}



footer p {
  margin-left: 10px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.9em;
}

main {
  padding-left: 0.25rem;
}
#delorean {
  background-image: url("/images/vehicles/delorean.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

#delorean h2 {
  margin-left: 0;
}

#delorean a:hover {
  opacity: 0.5;
}

#delorean li h2 {
  margin-top: 0;
  margin-bottom: 0;
  color: #4c96d7;
}

#delorean ul {
  padding-left: 0;
  margin-top: 0;
  max-width: 200px;
  margin-left: 0.5em;
  margin-bottom: 8em;
  background-color: rgba(225, 255, 255, 0.7);
}

#delorean li {
  font-size: 0.85em;
  list-style: none;
  color: #4c96d7;
}

#actionbtn {
  display: block;
  width: 65%;
  margin-top: 1.5em;
}

#actionbtn:hover {
  opacity: 0.5;
}

.flex {
  display: flex;
  margin-bottom: 2em;
  justify-content: center;
  width: 100%;
  padding-left: 0.25em;
}

.flex a {
  width: 100%;
}

.add-col {
  background-color: #4c96d7;
  height: 5.5em;
  width: 95%;
  border: #3a3a3a solid 1px;
}

a figure {
  margin: 0;
}

figure img {
  display: block;
  margin: auto;
  padding-top: 0.5em;
}

figure figcaption {
  text-align: center;
  padding: 3%;
}

#review li {
  font-size: 0.9em;
  margin-bottom: 1em;
}

@media only screen and (min-width: 768px) {

  body {
    background-image: url("/images/site/small_check.jpg");
    background-size: cover;
  }

  h1 {
    font-size: 1.9em;
  }
  
  
  nav {
    margin: 0.75rem;
  }

  nav ul {
    list-style: none;
    padding: 1%;
    margin: 0;
    display: flex;
  }

  nav ul li {
    margin-right: 2em; 
    color: #fff;
    font-size: 1.2em;
  }

  nav a {
    display: inline-block;
    width: 4.5em;
    padding: 0.25rem 0;
  }

 
  
  #wrapper {
    border: 5px solid #4c96d7;
    border-radius: 10px;
    margin-top: 1em;
    width: 75%;
  }

  #delorean ul {
    font-size: 1.6em;
    margin-left: 2em;
    margin-top: 1em;
    margin-bottom: 15em;
  }

  #delorean {
    background-size: contain;
    margin-bottom: 0;
  }

  #actionbtn {
    display: block;
    width: 90%;
    margin-top: 1.5em;
  }

.flex-content {
  display: flex;
  justify-content: space-around;
}

#review h2, #add-ons h2 {
  font-size: 1.4em;
  margin-bottom: 2em;
}

#add-ons {
  order: -1;
}

#review li {
  font-size: 1.1em;
}

#add-ons {
  width: 45%;
}

#add-ons, #review {
  margin-top: 0;
}

}

/* Login, Registration and Management Forms */
.login-container,
.registration-container,
#add-classification-form,
#inventory-form,
#update-form,
.update-container,
#review-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 10px solid #ccc;
  border-radius: 5px;
  background-color:#617F7D 
}

.login-container input[type="email"],
.login-container input[type="password"],
.login-container input[type="submit"],
.registration-container input[type="text"],
.registration-container input[type="email"],
.registration-container input[type="password"],
.registration-container input[type="submit"],
#add-classification-form input[type="text"],
#add-classification-form input[type="submit"],
#inventory-form input,
#inventory-form select,
#inventory-form textarea,
#update-form input,
#update-form select,
#update-form textarea,
#update-account-form input[type="email"],
#update-account-form input[type="text"],
#update-password-form input[type="text"],
#update-password-form input[type="password"],
#update-password-form input[type="submit"],
#review-form input,
#review-form textarea{
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #f0ebeb;
}
.login-container label,
.registration-container label,
#add-classification-form label,
#inventory-form label,
#update-form label,
#update-account-form label,
#update-password-form label,
.review-label {
  font-weight: bold;
  font-size: 2em;
  color:#fffdfc
}
.login-container input[type="submit"],
.registration-container input[type="submit"],
#add-classification-form input[type="submit"],
#inventory-form button[type="submit"],
#update-form button[type="submit"],
#update-password-form input[type="submit"],
#update-account-form input[type="submit"],
#review-form input[type="submit"]
 {
  background-color:#7E826D;
  color:#ffffff;
  cursor: pointer;
  font-size: 2em;
  width: 100%;
}
.login-container input[type="submit"]:hover,
.registration-container input[type="submit"]:hover,
#add-classification-form input[type="submit"]:hover,
#inventory-form button[type="submit"]:hover,
#update-form button:not(:disabled):hover,
#update-password-form input[type="submit"]:hover,
#update-account-form input[type="submit"]:hover{
  background-color: #669868;
}
button:disabled {
  opacity: 0.6;
}
.login-container .registration-link {
  text-align: center;
  color:white;
  font-size: 18pt;
}
.login-container .registration-link a {
  color:#ddd8fb
}
.registration-container input[type="checkbox"] + label {
  font-size: 20px;
}
.password-description,
.validation-description {
  margin-top: 5px;
  font-size: 20px;
  text-align: center;
}
.password-input {
  margin-bottom: 10px;
}
/* END Login and Registration Forms */

/* Required input validation */
input:required:invalid,
input:focus:invalid,
textarea:required:invalid {
  border: 2px solid red !important;
}

input:required:invalid::placeholder {
  color: red;
}

input:focus:invalid::placeholder {
  color: #aaa;
}

input:required:invalid + p {
  display: block;
  border: 4px solid #000;
  border-color: red;
}

/* END Required input validation */

/* Change Box Model */
*,
*:before,
*:after {
  box-sizing: border-box;
}
.notice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.notice li {
  margin-bottom: 5px;
  padding: 10px;
  background-color: #f2f2f2;
  border: 5px solid #8C6D6B;
  text-align: center;
  width: 60%;
  max-width: 100%;
  box-sizing: border-box;
}

.notice .notice-message {
  color: #333;
  font-weight: bold;
  word-wrap: break-word;
}